<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h5>Edit Here!</h5>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
        <div class="invalid-feedback">Title can't be kept blank</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">Description can't be kept blank</div>
        </div>
        <div class="mb-3">
            Original Image <br>
            <img src="<%=originalImageUrl%>" height="200" width="250"/>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label" >Upload new image here (.png/.jpg/.jpeg)</label>
            <input type="file" name="listing[image]"   class="form-control" >
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                <div class="invalid-feedback">Price can't be kept blank</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                <div class="invalid-feedback">Country name can't be kept blank</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
            <div class="invalid-feedback">Location can't be kept blank</div>
        </div>
        <button class="btn btn-dark add-btn mb-3 mt-3">Edit</button>
       </form>
    </div>
    </div>
</body>
